@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-family: 'Open Sans';
}

// Typography

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.heading {

  &--h1 {
    font-size: 70px;
    margin-bottom: 16px;
  }
  
  &--h2 {
    font-size: 35px;
  }
  
  &--h3 {
    font-size: 28px;
  }
  
  &--h4 {
    font-size: 24px;
  }

}

.text {

  &--active {
    font-size: 14px;
  }
}

@media (max-width: 1440px) {

  .heading {

    &--h1 {
      font-size: 60px;
    }
    
    &--h2 {
      font-size: $size-hero;
      margin-bottom: 35px;
    }
    
    &--h3 {
      font-size: $size-hero;
      margin-bottom: 21px;
    }
    
    &--h4 {
      font-size: $size-hero;
      margin-bottom: 18px;
    }
  }

  .text {
  
    &--active {
      font-size: 13px;
    }
  }
}

@media (max-width: 1000px) {

  .heading {

    &--h1 {
      font-size: 35px;
    }
    
    &--h2 {
      font-size: $size-hero;
      margin-bottom: 19px;
    }
    
    &--h3 {
      font-size: $size-hero;
      margin-bottom: 18px;
    }
    
    &--h4 {
      font-size: $size-hero;
      margin-bottom: 17px;
    }
  }

  .text {
  
    &--active {
      font-size: 11px;
    }
  }
}










.section {

  &__wrapper {
    margin: auto;
    width: 90%;
    max-width: 1280px;
  }

  &__heading {
    text-align: center;
    font-size: $size-heading;
    margin: 40px auto;
  }
}

.social {

  &__link {
    display: inline-block;
    margin-left: 8px;

    &:first-of-type {
      // margin-left: 0;
    }
  }

  &__icon {
    height: 20px;
    fill: $color-secondary;
  }


}

.shadowed {
  background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0));
}