
$color-background: #ffffff;
$color-secondary: #b5a484;
$color-text: #000000;
$color-accent: #bd3131;
$color-bland: #f3f1ed;
$color-hover: #932525;
$color-interface: #1e1e1e;

$size-hero: 70px;
$size-heading: 35px;
$size-subheading: 28px;
$size-subheading-2: 24px;
$size-button: 14px;
