
@import 'variables';
@import 'mixins';

.section-featured {
  background: $color-secondary;
  height: 30vw;

  .section__wrapper {
    position: relative;
    bottom: 20vw;
  }
}

@media (min-width: 1440px) {
  .section-featured {
    background: $color-secondary;
    height: 30vh;
  
    .section__wrapper {
      position: relative;
      bottom: 20vw;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .section-featured {
    background: $color-secondary;
    height: 65vw;
  
    .section__wrapper {
      position: relative;
      bottom: 30vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .section-featured {
    background: $color-secondary;
    height: auto;
  
    .section__wrapper {
      position: relative;
      bottom: 5vw;
    }
  }
}

.featured {
  
  &__wrapper {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }

  }

  &__image {
    flex: 1;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
  }

  &__header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-background;
    text-align: center;
    padding: 36px;
  }

  &__icon {
    margin-bottom: 16px;
  }

}
