
@import 'variables';
@import 'mixins';

.footer {

  background: $color-interface;

  &__wrapper {
    @extend %flex-center;
    justify-content: space-between;
    padding: 20px 60px;
  }

  &__social {
    @extend %flex-center;
  }

  &__text {
      color: $color-secondary;
      font-size: $size-button;
      line-height: 20px;
  }
}