
@import 'variables';
@import 'mixins';

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 11;
  background: $color-interface;

  &__wrapper {
    margin: auto;
    width: 100%;
    max-width: 2000px;
  }

  &__topper {
    background: $color-secondary;
    text-align: center;
    color: $color-text;
    padding: 4px 0;
    
  }

  &__main {
    background: $color-interface;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    color: $color-secondary;

  }

  &__text {
    font-size: $size-button;
  }
}

.logo {

  height: 40px;

  &--text {
    font-size: $size-button;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 2px solid $color-secondary;
  }
}