
@import 'variables';

.section-hero {
  background-size: cover;
  background-position: center;
}

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: row;

  &__heading {
    flex: 1;
    padding-top: 120px;
    color: $color-background;
    text-transform: capitalize;
  }

  &__image {
    flex: 1;
    align-self: center;
    background-position: left;
    background-repeat: no-repeat;

    & img {
      // width: 100%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;

    &__heading {
      flex: 0;
    }

    &__image {

    }
  }

}
