
@import 'variables';

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 570px;
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  margin-bottom: 45px;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
  }

  &__item {

  }

}

.preview {
  $e: &;

  &:hover {

    #{$e}__header {
      background: $color-interface;
    }

    #{$e}__icon { 
      background: $color-interface;
    }

    #{$e}__date {
      color: $color-background;
    }

    #{$e}__title {
      color: $color-background;
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__header {
    position: relative;
    background: $color-bland;
    padding: 36px;
    text-align: center;
    transition: all 0.5s ease;
  }

  &__icon {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -28px;
    left: calc(50% - 28px);
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: $color-bland;
    transition: all 0.5s ease;
    padding: 8px;

    @media only screen and (max-width: 600px) {
      top: -28px*0.8;
      left: calc(50% - 28px*0.8 );
      width: 56px*0.8;
      height: 56px*0.8;
      border-radius: 28px*0.8;
    }
  }   

  &__date {
    // margin-top: 16px;
    font-size: $size-button;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }

  &__title {
    font-size: $size-subheading-2;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 0.5s ease;
    line-height: 1.5;
    height: 4.5rem;
  }

  &__link {
    color: $color-accent;
    font-weight: 600;
  }

  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
  }

  &__text {
    margin-bottom: 16px;
  }
}

.icon {
  width: 100%;
  max-width: 24px;
  height: auto;
  fill: $color-accent;
}