.section-featured {
  background: #b5a484;
  height: 30vw; }
  .section-featured .section__wrapper {
    position: relative;
    bottom: 20vw; }

@media (min-width: 1440px) {
  .section-featured {
    background: #b5a484;
    height: 30vh; }
    .section-featured .section__wrapper {
      position: relative;
      bottom: 20vw; } }

@media only screen and (max-width: 1000px) {
  .section-featured {
    background: #b5a484;
    height: 65vw; }
    .section-featured .section__wrapper {
      position: relative;
      bottom: 30vw; } }

@media only screen and (max-width: 600px) {
  .section-featured {
    background: #b5a484;
    height: auto; }
    .section-featured .section__wrapper {
      position: relative;
      bottom: 5vw; } }

.featured__wrapper {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 1000px) {
    .featured__wrapper {
      flex-direction: column; } }

.featured__image {
  flex: 1;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 1000px) {
    .featured__image {
      width: 100%;
      height: 0;
      padding-bottom: 50%; } }
  @media only screen and (max-width: 600px) {
    .featured__image {
      width: 100%;
      height: 0;
      padding-bottom: 100%; } }

.featured__header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  text-align: center;
  padding: 36px; }

.featured__icon {
  margin-bottom: 16px; }
