.footer__wrapper, .footer__social {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer {
  background: #1e1e1e; }
  .footer__wrapper {
    justify-content: space-between;
    padding: 20px 60px; }
  .footer__text {
    color: #b5a484;
    font-size: 14px;
    line-height: 20px; }
