.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 11;
  background: #1e1e1e; }
  .header__wrapper {
    margin: auto;
    width: 100%;
    max-width: 2000px; }
  .header__topper {
    background: #b5a484;
    text-align: center;
    color: #000000;
    padding: 4px 0; }
  .header__main {
    background: #1e1e1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    color: #b5a484; }
  .header__text {
    font-size: 14px; }

.logo {
  height: 40px; }
  .logo--text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 2px solid #b5a484; }
