.section-hero {
  background-size: cover;
  background-position: center; }

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: row; }
  .hero__heading {
    flex: 1;
    padding-top: 120px;
    color: #ffffff;
    text-transform: capitalize; }
  .hero__image {
    flex: 1;
    align-self: center;
    background-position: left;
    background-repeat: no-repeat; }

@media only screen and (max-width: 1000px) {
  .hero {
    flex-direction: column; }
    .hero__heading {
      flex: 0; } }
