@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans'; }

a {
  color: inherit;
  text-decoration: none; }

p {
  line-height: 1.5; }

.heading--h1 {
  font-size: 70px;
  margin-bottom: 16px; }

.heading--h2 {
  font-size: 35px; }

.heading--h3 {
  font-size: 28px; }

.heading--h4 {
  font-size: 24px; }

.text--active {
  font-size: 14px; }

@media (max-width: 1440px) {
  .heading--h1 {
    font-size: 60px; }
  .heading--h2 {
    font-size: 70px;
    margin-bottom: 35px; }
  .heading--h3 {
    font-size: 70px;
    margin-bottom: 21px; }
  .heading--h4 {
    font-size: 70px;
    margin-bottom: 18px; }
  .text--active {
    font-size: 13px; } }

@media (max-width: 1000px) {
  .heading--h1 {
    font-size: 35px; }
  .heading--h2 {
    font-size: 70px;
    margin-bottom: 19px; }
  .heading--h3 {
    font-size: 70px;
    margin-bottom: 18px; }
  .heading--h4 {
    font-size: 70px;
    margin-bottom: 17px; }
  .text--active {
    font-size: 11px; } }

.section__wrapper {
  margin: auto;
  width: 90%;
  max-width: 1280px; }

.section__heading {
  text-align: center;
  font-size: 35px;
  margin: 40px auto; }

.social__link {
  display: inline-block;
  margin-left: 8px; }

.social__icon {
  height: 20px;
  fill: #b5a484; }

.shadowed {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); }

.footer__wrapper, .footer__social {
  display: flex;
  flex-direction: row;
  align-items: center; }

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 11;
  background: #1e1e1e; }
  .header__wrapper {
    margin: auto;
    width: 100%;
    max-width: 2000px; }
  .header__topper {
    background: #b5a484;
    text-align: center;
    color: #000000;
    padding: 4px 0; }
  .header__main {
    background: #1e1e1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    color: #b5a484; }
  .header__text {
    font-size: 14px; }

.logo {
  height: 40px; }
  .logo--text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 2px solid #b5a484; }

.section-hero {
  background-size: cover;
  background-position: center; }

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: row; }
  .hero__heading {
    flex: 1;
    padding-top: 120px;
    color: #ffffff;
    text-transform: capitalize; }
  .hero__image {
    flex: 1;
    align-self: center;
    background-position: left;
    background-repeat: no-repeat; }

@media only screen and (max-width: 1000px) {
  .hero {
    flex-direction: column; }
    .hero__heading {
      flex: 0; } }

.footer__wrapper, .footer__social {
  display: flex;
  flex-direction: row;
  align-items: center; }

.section-featured {
  background: #b5a484;
  height: 30vw; }
  .section-featured .section__wrapper {
    position: relative;
    bottom: 20vw; }

@media (min-width: 1440px) {
  .section-featured {
    background: #b5a484;
    height: 30vh; }
    .section-featured .section__wrapper {
      position: relative;
      bottom: 20vw; } }

@media only screen and (max-width: 1000px) {
  .section-featured {
    background: #b5a484;
    height: 65vw; }
    .section-featured .section__wrapper {
      position: relative;
      bottom: 30vw; } }

@media only screen and (max-width: 600px) {
  .section-featured {
    background: #b5a484;
    height: auto; }
    .section-featured .section__wrapper {
      position: relative;
      bottom: 5vw; } }

.featured__wrapper {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 1000px) {
    .featured__wrapper {
      flex-direction: column; } }

.featured__image {
  flex: 1;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 1000px) {
    .featured__image {
      width: 100%;
      height: 0;
      padding-bottom: 50%; } }
  @media only screen and (max-width: 600px) {
    .featured__image {
      width: 100%;
      height: 0;
      padding-bottom: 100%; } }

.featured__header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  text-align: center;
  padding: 36px; }

.featured__icon {
  margin-bottom: 16px; }

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  margin-bottom: 45px; }
  @media only screen and (max-width: 1000px) {
    .articles {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px; } }
  @media only screen and (max-width: 600px) {
    .articles {
      grid-template-columns: 1fr;
      grid-column-gap: 15px; } }

.preview:hover .preview__header {
  background: #1e1e1e; }

.preview:hover .preview__icon {
  background: #1e1e1e; }

.preview:hover .preview__date {
  color: #ffffff; }

.preview:hover .preview__title {
  color: #ffffff; }

.preview__wrapper {
  height: 100%; }

.preview__header {
  position: relative;
  background: #f3f1ed;
  padding: 36px;
  text-align: center;
  transition: all 0.5s ease; }

.preview__icon {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -28px;
  left: calc(50% - 28px);
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #f3f1ed;
  transition: all 0.5s ease;
  padding: 8px; }
  @media only screen and (max-width: 600px) {
    .preview__icon {
      top: -22.4px;
      left: calc(50% - 28px*0.8);
      width: 44.8px;
      height: 44.8px;
      border-radius: 22.4px; } }

.preview__date {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease; }

.preview__title {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  line-height: 1.5;
  height: 4.5rem; }

.preview__link {
  color: #bd3131;
  font-weight: 600; }

.preview__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center; }

.preview__text {
  margin-bottom: 16px; }

.icon {
  width: 100%;
  max-width: 24px;
  height: auto;
  fill: #bd3131; }

.footer__wrapper, .footer__social {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer {
  background: #1e1e1e; }
  .footer__wrapper {
    justify-content: space-between;
    padding: 20px 60px; }
  .footer__text {
    color: #b5a484;
    font-size: 14px;
    line-height: 20px; }
