.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  margin-bottom: 45px; }
  @media only screen and (max-width: 1000px) {
    .articles {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px; } }
  @media only screen and (max-width: 600px) {
    .articles {
      grid-template-columns: 1fr;
      grid-column-gap: 15px; } }

.preview:hover .preview__header {
  background: #1e1e1e; }

.preview:hover .preview__icon {
  background: #1e1e1e; }

.preview:hover .preview__date {
  color: #ffffff; }

.preview:hover .preview__title {
  color: #ffffff; }

.preview__wrapper {
  height: 100%; }

.preview__header {
  position: relative;
  background: #f3f1ed;
  padding: 36px;
  text-align: center;
  transition: all 0.5s ease; }

.preview__icon {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -28px;
  left: calc(50% - 28px);
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #f3f1ed;
  transition: all 0.5s ease;
  padding: 8px; }
  @media only screen and (max-width: 600px) {
    .preview__icon {
      top: -22.4px;
      left: calc(50% - 28px*0.8);
      width: 44.8px;
      height: 44.8px;
      border-radius: 22.4px; } }

.preview__date {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease; }

.preview__title {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  line-height: 1.5;
  height: 4.5rem; }

.preview__link {
  color: #bd3131;
  font-weight: 600; }

.preview__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center; }

.preview__text {
  margin-bottom: 16px; }

.icon {
  width: 100%;
  max-width: 24px;
  height: auto;
  fill: #bd3131; }
